{
  "resource_names": {
    "vpc_id": "",
    "raw_bucket": "",
    "redacted_bucket_name": "",
    "inventory_table_name": "",
    "resource_name_prefix": "",
    "retention": 90,
    "secret_name": "",
    "auto_reply_from_email": "",
    "domain": "",
    "environment": "development",
    "api_domain_name": "",
    "api_domain_cert_arn": ""
  }
}