{
  "resource_names": {
    "vpc_id": "",
    "raw_bucket": "",
    "redacted_bucket_name": "",
    "inventory_table_name": "",
    "secret_name": "",
    "auto_reply_from_email": "",
    "domain": "",
    "retention": 90,
    "resource_name_prefix": "",
    "environment": "development",
    "oidc_audience": "",
    "oidc_jwks_uri": "",
    "oidc_issuer": "",
    "authorized_users": [],
    "auth_type": "basic",
    "api_gateway_vpc_endpoint_id": "",
    "kms_cmk_arn": "",
    "api_domain_name": "",
    "api_domain_cert_arn": ""
  }
}