{
  "resource_names": {
    "vpc_id": "vpc-003558aa7cf7920f4",
    "raw_bucket": "bedrock-blog-raw-bucket",
    "redacted_bucket_name": "bedrock-blog-redacted-bucket",
    "email_inventory_table_name": "bedrock-blog-email-inventory",
    "secret_name": "SmtpCredentials",
    "auto_reply_from_email": "",
    "domain": "hdixit.people.aws.dev",
    "retention": 90,
    "resource_name_prefix": "idp",
    "environment": "local",
    "oidc_audience": "",
    "oidc_jwks_uri": "",
    "oidc_issuer": "",
    "authorized_users": [],
    "auth_type": "basic",
    "api_gateway_vpc_endpoint_id": "",
    "kms_cmk_arn": "",
    "api_domain_name": ""
  }
}